# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AzureDemoBlog.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Univer\TestProjects\AzureDemoBlog\.idea\.idea.AzureDemoBlog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
